Sandeep_Girgaonkar/day04/day04_assignment_Gmail_automation.json
{
  "name": "day04_Gmail_automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        112
      ],
      "id": "9b1a8033-60d5-475f-8f73-30b13bb97f76",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "UMYFSwjTzUaQFjPH",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Body-  {{ $json.snippet }}\nSubject- {{ $json.Subject }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Inquiry ",
              "description": "Any email having customer inquiry request, project request, mentoring request should be classified under this category. "
            },
            {
              "category": "Newsletters ",
              "description": "Any email which has the new updates, product updates, newsletters should be classified under this category"
            },
            {
              "category": "Technical Support",
              "description": "Any email which has a requirement for technical support where the customer is stuck and they need technical help to resolve their blocker, or raising a customer support ticket, should be classified under this category. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -672,
        112
      ],
      "id": "32c86d8f-3e49-4706-9d08-8e6520fa32b1",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -672,
        304
      ],
      "id": "5a3e124b-198f-41df-8fb0-8f50c69720cf",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "3kcKHmqExVMXB0Xy",
          "name": "SG-OR"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -256,
        256
      ],
      "id": "2f5fd5fd-61f1-4fc6-a185-36cff1a2c3ea",
      "name": "Delete a message",
      "webhookId": "f67aa467-01b5-47a5-a9aa-61de618f5ad8",
      "credentials": {
        "gmailOAuth2": {
          "id": "UMYFSwjTzUaQFjPH",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": "={{ $json.labels[15].id }}{{ $json.labels[3].id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -208,
        -64
      ],
      "id": "991f0645-2db5-4c9f-a2aa-31fa3d2eb6d0",
      "name": "Add label to message",
      "webhookId": "2a2f394d-c4c4-4f75-ad3a-a28059c82761",
      "credentials": {
        "gmailOAuth2": {
          "id": "UMYFSwjTzUaQFjPH",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email-  {{ $('Text Classifier').item.json.snippet }}",
        "options": {
          "systemMessage": "You are email writing expert. Our company name is Tech Wizards. We provide tech consultations, projects execution etc. \n\nMy available slots is 7-8 and 8-9 PM IST Monday to Friday\n\nEnd email with company name. Be friendly and precise while drafting an email reply \n\nDon't give me subject while generating email response \n\nDon't use em-dashes in your response"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "7fada4bc-e5e2-4b3e-83a7-164ef8a8a138",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -48,
        208
      ],
      "id": "3fe8e23d-ee16-43b0-b9be-e1e4e6b1c12f",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "3kcKHmqExVMXB0Xy",
          "name": "SG-OR"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        96
      ],
      "id": "81199de9-0623-4a40-a175-f3807be43684",
      "name": "Create a draft",
      "webhookId": "ca9dc8b7-012f-443e-9b5b-c9e63b302088",
      "credentials": {
        "gmailOAuth2": {
          "id": "UMYFSwjTzUaQFjPH",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://gmail.googleapis.com/gmail/v1/users/1800ssg@gmail.com/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1168,
        -96
      ],
      "id": "d6ec6780-bcb4-425f-9a20-a3e1a89be4d4",
      "name": "HTTP Request",
      "credentials": {
        "gmailOAuth2": {
          "id": "UMYFSwjTzUaQFjPH",
          "name": "Gmail OAuth2 API"
        }
      },
      "notes": "This node is to fetch labels from gmail"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "25ebcc46-8d14-4361-8b82-34d88cbc702a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5e9960906af21e0eecbf736b3629201438ca19951f140ba4dd8fd22a8a9ccb9"
  },
  "id": "Xtdsy6OU2azGJMSE",
  "tags": []
}