SanthiKumar/Day_4/Day_4-n8n-SK-Email_Classifier_Labeller_Draft_generation_fetching-HITL.json
{
  "name": "Email_Classifier_Labeller_Draft_generation_fetching",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -848,
        32
      ],
      "id": "44eb6893-e889-409d-bf1f-0f6b2c14f332",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "XaqQTshnkdLMEYEg",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Body- {{ $json.text }}\nSubject- {{ $json.subject }}\nFrom - {{ $json.from.text }}",
        "categories": {
          "categories": [
            {
              "category": "N8N",
              "description": "Any email which has This email was sent automatically with n8n in the Body "
            },
            {
              "category": "github",
              "description": "Any email which has The GitHub Team in the Body Or Subject contains Reminder: AI Accelerator"
            },
            {
              "category": "Outskill_Zoom_Links",
              "description": "Any email which has AI engineering accelerator Day in the Subject "
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -624,
        32
      ],
      "id": "9f05bb96-a20f-4079-914f-4103a00c9e34",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<Prompt> \n\nThe email body is- {{ $('Gmail Trigger').item.json.text }}\n\nAlways end your email with:\nThanks & Regards\nOutSkill Admin\n\nDon't give me subject in output\n\nOther Instruction-\nAbout my company- \nAbout the role"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -48,
        -160
      ],
      "id": "4a49f2f1-5f8f-465c-8ee3-6a6e54e0790d",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "LpdueuZmSWux7JY5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Add a label to N8N').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -848,
        656
      ],
      "id": "9f46e83c-bd97-4e3f-bf1c-98adee2c0444",
      "name": "Reply to a message",
      "webhookId": "ee44a0c1-578a-413c-b5aa-c626e9f72d9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "XaqQTshnkdLMEYEg",
          "name": "Gmail OAuth2 API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        304,
        -160
      ],
      "id": "63525916-5a99-47a4-b98d-234024922e29",
      "name": "Create a draft",
      "webhookId": "7e9209d3-5fdd-449f-be62-452bd9183d8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "XaqQTshnkdLMEYEg",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -848,
        448
      ],
      "id": "37774e39-75b7-430d-ac48-c3775291e6f9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LpdueuZmSWux7JY5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -560,
        288
      ],
      "id": "a60e33f5-0179-4d2a-8cd5-3b99428d5d44",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "qjb5ul7rCtGJHZ9c",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<Prompt> \n\nThe email body is- {{ $('Gmail Trigger').item.json.text }}\n\nAlways end your email with:\nThanks & Regards\nOutSkill Admin\n\nDon't give me subject in output\n\nOther Instruction-\nAbout my company- \nAbout the role"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -48,
        224
      ],
      "id": "302526c6-7f1a-4835-957f-c28a709f183d",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "LpdueuZmSWux7JY5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "=Hi {{ $('Gmail Trigger').item.json.from.value[0].name }},\n\n{{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        304,
        224
      ],
      "id": "083cfce1-b5bd-4859-a209-105d0d1664c5",
      "name": "Reply to a message1",
      "webhookId": "c862c959-3eeb-4be4-8613-d7685371dec4",
      "credentials": {
        "gmailOAuth2": {
          "id": "XaqQTshnkdLMEYEg",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<Prompt> \n\nThe email body is- {{ $('Gmail Trigger').item.json.text }}\n\nAlways end your email with:\nThanks & Regards\nOutSkill Admin\n\nDon't give me subject in output\n\nOther Instruction-\nAbout my company- \nAbout the role"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -48,
        32
      ],
      "id": "290bef28-4a4e-4f02-a30f-c4178bc5fcf5",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "LpdueuZmSWux7JY5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        -64
      ],
      "id": "b47f8c68-0455-4d3f-bde6-e15341759d15",
      "name": "Delete a message",
      "webhookId": "8781b1a3-24c6-4cda-8922-1557dd32aafd",
      "credentials": {
        "gmailOAuth2": {
          "id": "6hQhzlifMpGVjEw1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_2831814174579211424"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -256,
        32
      ],
      "id": "aa3a6707-b6b6-4dc4-a4c7-74a2b7ae5669",
      "name": "Add a label GitHub",
      "webhookId": "66611990-c15c-4959-b3de-6fed71c022e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "XaqQTshnkdLMEYEg",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_8308545429424506851"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -256,
        -160
      ],
      "id": "21845f33-e41a-4b1e-9fc4-8db40d7d3edf",
      "name": "Add a label to N8N",
      "webhookId": "c5c1431b-4c6a-44e0-8b0f-3b0cb4eff8fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "XaqQTshnkdLMEYEg",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4807493565786948809"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -256,
        224
      ],
      "id": "105e49f3-a33a-4f3d-a535-8db9c8c90728",
      "name": "Add a label to Outskill",
      "webhookId": "66611990-c15c-4959-b3de-6fed71c022e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "XaqQTshnkdLMEYEg",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "emailId",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "subject",
              "value": "={{ $('Gmail Trigger').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "from",
              "value": "={{ $('Gmail Trigger').item.json.from.text }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "snippet",
              "value": "={{ $('Gmail Trigger').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "21a20205-0a4a-4a38-ac3f-48c22272cec3",
      "name": "Prepare Approval Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        32
      ]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "xyz@gmail.com",
        "subject": "=Approval Required: Delete Email - {{ $('Gmail Trigger').item.json.subject }}",
        "message": "=An email requires deletion approval:\n\nFrom: {{ $('Gmail Trigger').item.json.from.text }}\nSubject: {{ $('Gmail Trigger').item.json.subject }}\n\nPreview:\n{{ $('Gmail Trigger').item.json.text }}\n\nPlease approve or reject this deletion request.",
        "options": {}
      },
      "id": "e9715c03-9120-42c3-b60e-e73463694598",
      "name": "Send Approval Request",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        32
      ],
      "webhookId": "2a02f5c7-131f-45f6-90e7-70d7740c053c",
      "credentials": {
        "gmailOAuth2": {
          "id": "XaqQTshnkdLMEYEg",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.response }}",
              "rightValue": "Approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "69e6481d-ec59-4284-8243-e59069b052ce",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "bc4190d2-3247-43a8-a941-cfb0634e127f",
      "name": "Check Approval",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        32
      ]
    },
    {
      "parameters": {
        "sendTo": "xyz@gmail.com",
        "subject": "=Deletion Rejected - {{ $('Prepare Approval Request').item.json.subject }}",
        "message": "=The deletion request for the following email was rejected:\n\nFrom: {{ $('Prepare Approval Request').item.json.from }}\nSubject: {{ $('Prepare Approval Request').item.json.subject }}\n\nNo action was taken.",
        "options": {}
      },
      "id": "59403334-9b44-4b3f-8204-66fefd04236c",
      "name": "Send Rejection Notice",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        128
      ],
      "webhookId": "10ea5e59-d8cd-490c-800e-1bff25e756db",
      "credentials": {
        "gmailOAuth2": {
          "id": "XaqQTshnkdLMEYEg",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add a label to N8N",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add a label GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add a label to Outskill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Reply to a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Prepare Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add a label GitHub": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add a label to N8N": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add a label to Outskill": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Approval Request": {
      "main": [
        [
          {
            "node": "Send Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Request": {
      "main": [
        [
          {
            "node": "Check Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4ee6cd52-6a62-4d27-a5a7-b4c77ef7b6ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f9e78a0a8214684e0d0fcd73529ca0539031baf30b4a1421eb60bed1331a199"
  },
  "id": "srQaCDvRbnEB4xdq",
  "tags": []
}
