Durga_Devi_Sundaram/n8n/SocialGrowth.json
{
  "name": "SocialGrowth",
  "nodes": [
    {
      "parameters": {
        "model": "openai/gpt-4.1-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -176,
        -48
      ],
      "id": "76aad2dc-0c38-4d7a-9689-5cacc7bfcf8d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "mnumJ7xV5X1QoS9P",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "84f9b5dd-b662-4297-97f6-d258f36e5931",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -208
      ],
      "id": "d19bf4fd-5f2f-4c98-a607-8869e14affbc",
      "name": "GeneratePost",
      "webhookId": "84f9b5dd-b662-4297-97f6-d258f36e5931"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "975f5f24-8cc2-498a-8bee-47ee54674cb2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        96
      ],
      "id": "a7915041-d451-439b-86ee-2b589376b05e",
      "name": "Publish",
      "webhookId": "975f5f24-8cc2-498a-8bee-47ee54674cb2"
    },
    {
      "parameters": {
        "chatId": "1026201069",
        "text": "={{ $json.body.post }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        96
      ],
      "id": "623028fc-13d8-4722-9d7a-d3488a6a988b",
      "name": "Telegram text",
      "webhookId": "ab030c7f-4009-4518-9c3d-41c79ce70da0",
      "credentials": {
        "telegramApi": {
          "id": "DCstTMRFXXCnSHad",
          "name": "DdTelegram"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        176,
        -208
      ],
      "id": "1bc0f38a-ae02-41aa-a445-c840947eeca5",
      "name": "Loop back response"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic - {{ $json.body.topic }}\nCategory - {{ $json.body.post_category }}\nLength - {{ $json.body.post_length }} \"short\" means < 200 words, :medium\" is < 400 words and \"long\" is < 700 words.\nTone of the post - {{ $json.body.tone }}\nTarget audience - {{ $json.body.audience }}\n",
        "options": {
          "systemMessage": "Prompt- Persona:\nYou are an expert LinkedIn Ghostwriter who has written 2,000+ viral posts for CEOs, founders, creators, and tech professionals. You deeply understand LinkedIn algorithms, storytelling, hooks, audience psychology, and content formats that drive millions of views. You specialise in creating scroll-stopping hooks, emotional storytelling, authority-building insights, and CTAs that spark engagement.\nTask:\nDon't use \"# and *\"\" for headers and in the post. Don't use em-dashes\nYour job is to craft a LinkedIn post that maximizes reach, engagement, and shares through strong hooks, relatable narratives, crisp formatting, and powerful CTAs.\nContext:\nThe post should feel like it was written by a top LinkedIn creator. It must capture attention in the first 2–3 seconds, use pattern-interrupt techniques, create emotional resonance, and deliver real value. Add insights, examples, frameworks, or micro-stories depending on the post type. The goal is to trigger comments, saves, and reposts.\nFormat:\nFollow this exact structure:\nDon't use \"# and *\"\" for headers and in the post. Don't use em-dashes\nHook (1–2 lines, punchy, curiosity-building, scroll-stopping)\nBody (story, insight, or breakdown depending on the post type)\nValue Section (actionable takeaways, lessons, or frameworks)\nCTA (ask a question that encourages comments, or invite people to share their thoughts)\nKeep paragraphs short (1–2 lines max).\nUse simple English, no jargon.\nAdd spacing for readability.\nDon't use # and * for headers. \nAdd few hashtags related to that topic maximum 4 or 5\nTone:\nConversational, bold, authoritative, and engaging—like top LinkedIn creators. No fluff. Every line should deliver value, emotion, or curiosity.\nOutput:\nA polished viral-style LinkedIn post ready to publish."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -176,
        -208
      ],
      "id": "920de85d-828a-499e-ad02-4fe40efe6bf7",
      "name": "Short Post Generator"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Short Post Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GeneratePost": {
      "main": [
        [
          {
            "node": "Short Post Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish": {
      "main": [
        [
          {
            "node": "Telegram text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Short Post Generator": {
      "main": [
        [
          {
            "node": "Loop back response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b254e6f7-da38-4a2f-908e-40cf1114de05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "806e9c3feb5e108829f7115996ba24860bfea0d7b801cb89b7aee042a74662d7"
  },
  "id": "8jjmgybtyj6jY1ge",
  "tags": []
}