Vani_Talluri/Gmail Assignment.json
{
  "name": "Gmail Assignment",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7612bf1b-060f-4117-84a9-6a926ce61b09",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "CxP6qkRjF4X0vobE",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Body -  {{ $json.snippet }}\nSubject - {{ $json.Subject }}",
        "categories": {
          "categories": [
            {
              "category": "Outskill",
              "description": "Any email contains data related to AI Engineering Accelerator should be classifed under this category"
            },
            {
              "category": "Newsletters",
              "description": "Any email that has new updates about ServiceNow and AI should be classified under this category"
            },
            {
              "category": "Upgrad - IIT Kharagpur",
              "description": "Any email which has details about Executive PG in Generative AI and Agentic AI with IIT Kharagpur"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "0d64e751-116a-4f67-9561-1a994937949e",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "4e47ed18-956c-4478-bcd5-7ec123b98c3b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "6pLhyLcqLlKiyo9U",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "create",
        "name": "Outskill",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        -192
      ],
      "id": "b6b12602-6a13-4be2-ae00-ad78d77ef5d2",
      "name": "Create a label",
      "webhookId": "5d6c046a-1e1c-4b70-bb5a-b5970eeaefaa",
      "credentials": {
        "gmailOAuth2": {
          "id": "CxP6qkRjF4X0vobE",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "delete",
        "labelId": "vanitalluri7"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        -176
      ],
      "id": "509558c2-23d8-4f65-9460-cb6d9f568213",
      "name": "Delete a label",
      "webhookId": "cdefea70-f68b-4713-b406-6ded27996ca3",
      "credentials": {
        "gmailOAuth2": {
          "id": "CxP6qkRjF4X0vobE",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_7"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -16
      ],
      "id": "d542bab1-ddb4-47cd-ae4b-988b97227b2f",
      "name": "Add label to message",
      "webhookId": "a3d57547-fe2e-4752-bb2f-da46135d2c7a",
      "credentials": {
        "gmailOAuth2": {
          "id": "CxP6qkRjF4X0vobE",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email -  {{ $('Text Classifier').item.json.snippet }}",
        "options": {
          "systemMessage": "You are email writing expert. Write a reply that is best reply that anyone can give to the email sent.\n\nEnd email with company name. Be friendly and precise while drafting an email reply \n\nDon't give me subject while generating email response \n\nDon't use em-dashes in your response\n\nEnd without any name or organization details"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        832,
        16
      ],
      "id": "af47f42f-6431-4d8a-a840-54f1f3abae42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        800,
        240
      ],
      "id": "06a9079d-1d8d-43c7-80a0-0ec3e5ff951f",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "6pLhyLcqLlKiyo9U",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {
          "threadId": "={{ $('Add label to message').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        -16
      ],
      "id": "59b9bf2b-4251-4a78-91c0-eed1a922cf8b",
      "name": "Create a draft",
      "webhookId": "4206905c-5a8a-4bec-a73a-c98a6da90505",
      "credentials": {
        "gmailOAuth2": {
          "id": "CxP6qkRjF4X0vobE",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Text Classifier').item.json.threadId }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        144
      ],
      "id": "c05101c0-4cb7-4f75-9a93-97627694ffbf",
      "name": "Reply to a message",
      "webhookId": "164268a2-b5ed-414e-abbe-c2f61f43db07",
      "credentials": {
        "gmailOAuth2": {
          "id": "CxP6qkRjF4X0vobE",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "80d5de1b-0c0c-4c6f-bfd3-8585c2f555bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4f9425bffe13893dac69893409c280bacba7cf9e28549abf456263d1d904e03"
  },
  "id": "8OKmv9LF6cynisJ1",
  "tags": []
}