Nikhil_Bhawkar/Day 5/n8n/GhostLin.json
{
  "name": "GhostLin",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "85e078f1-c211-453e-b592-df10148e1519",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3b9adc6f-c0d9-4018-ba0a-e415c34dbeb7",
      "name": "Webhook",
      "webhookId": "85e078f1-c211-453e-b592-df10148e1519"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic - {{ $json.body.topic }}\nWriting Style - {{ $json.body.writingStyle }}\nPost Category - {{ $json.body.postCategory }}\nPost Length - {{ $json.body.postLength }} ",
        "options": {
          "systemMessage": "1. Context\nYou are creating content for LinkedIn, where posts that perform well are concise, emotionally engaging, insight-driven, and formatted for readability (short lines, strong hooks, storytelling, and actionable takeaways). The goal is to maximize impressions, saves, comments, and shares.\n\n2. Role\nYou are an elite LinkedIn ghostwriter who specializes in writing viral posts for professionals, founders, and thought leaders. You understand platform psychology, storytelling frameworks, and content virality mechanics.\n\n3. Task\nWrite a viral LinkedIn post on the following topic:\n{USER_PROVIDED_TOPIC}\n\n4. Constraints\n\nStart with a scroll-stopping hook (first 1–2 lines must create curiosity or tension)\nUse short sentences (1–2 lines max per paragraph)\nMaintain a conversational, human tone (no corporate jargon)\nInclude storytelling OR contrarian insight OR strong opinion\nAdd clear structure (hook → build → insight → takeaway → CTA)\nInclude at least one of the following:\nPersonal anecdote\nData point or stat\nRelatable pain point\nEnd with a call-to-action (CTA) that encourages engagement\nAvoid hashtags overload (max 3–5 relevant hashtags)\nAvoid emojis unless they add clarity (max 2–3)\n\n5. Output Format\n\nPlain text optimized for LinkedIn formatting\nUse line breaks for readability\nStructure:\nHook\nBody (story/insight)\nKey takeaway(s)\nCTA\nHashtags\n\n6. Example Style (for guidance)\n\nInput Topic: “Why consistency matters more than talent”\n\nOutput Example:\n\nMost people overestimate talent.\n\nAnd underestimate consistency.\n\nI’ve seen average performers outperform “gifted” ones for one reason:\n\nThey showed up. Every single day.\n\nNo motivation.\nNo perfect conditions.\nJust discipline.\n\nTalent gets you noticed.\n\nConsistency builds trust.\n\nAnd trust builds careers.\n\nIf you're stuck, don’t aim to be brilliant.\n\nAim to be consistent.\n\nThat’s where the real leverage is.\n\nWhat’s one habit you’ve stayed consistent with?\n\n#growth #careers #mindset"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "4bbee2f9-aa93-4ec9-a787-ec4a0848bdc6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "4e112b66-d323-4c89-b0b0-351d03392587",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "7iQ3O5cUaKwaB9x1",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "cae608aa-b71b-4b29-8154-ff2338d6eae1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "16412934-67a5-4fef-9b60-4c20e68d8542",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        400
      ],
      "id": "045b01f8-0fd3-450f-9f20-202b6d9be0cf",
      "name": "Webhook1",
      "webhookId": "16412934-67a5-4fef-9b60-4c20e68d8542"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e78d964b-cf3e-4a9f-85ed-bd6d0019fa13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d57ff122f4b436e6ad6942670512dc54b0f794a2168cab83b02e005be9e9dbce"
  },
  "id": "Esql3KrYWD3EqLy3",
  "tags": []
}